%section.sessions
  .row.margin-btm
    .col-xl-4.col-xl-offset-4.col-lg-5.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      - url = registration ? users_path : login_path
      = bootstrap_form_for(@user, url: url, label_errors: false) do |f|
        %h1.title= registration ? "Sign Up" : "Sign In"
        = f.text_field :name, label: "Your Name" if registration
        = f.email_field :username, label: "Email"
        = f.password_field :password
        = f.password_field :password_confirmation, label: "Confirm Password" if registration
        = f.submit(registration ? "Sign Up" : "Sign In", class: "btn btn-primary")

